@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.shadow-primary {
    box-shadow: 0 4px 6px -1px rgba(57, 133, 100, 0.1), 0 2px 4px -1px rgba(57, 133, 100, 0.06);
}

.size-6 {
    width: 1.5rem;
    height: 1.5rem;
}
.hover\:scale-125:hover {
    transform: scale(1.25);
}